<app-header></app-header>
<div class="container">
<div class="row">
  <h2 class="headerText">🐺Poems For Alyssa🐺</h2>
</div>

  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Alyssa Effects End</h5>
        <p class="card-text">The feelings I feel whether real or false<br>
          Make my heart skip a beat with every other pulse<br>
          Although many other men perseverate on the Alyssa effect<br>
          Her humor of mind and contents of soul are what lead me by the neck

          </p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Miss Dawn's Mother</h5>
        <p class="card-text">
          They say that a cat's personality is indicative of their owner<br>
          In Little Miss Dawn is quite the show-er<br>
          Silly and kind, passionate with pride<br>
          All of the traits that keeps her mother in my mind
          </p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">A Thought From RDO</h5>
        <p class="card-text">
          The west is vast<br>
          And the campfire crackles on<br>
          No matter how long the journey<br>
          The thought of her drives me on
          </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Moments</h5>
        <p class="card-text">Kindness abound and a depth of care <br>
          A large warm smile and gorgeous blue hair<br>
          When you speak to me my heart springs a flutter<br>
          I love nothing more then moments spent with one another

          </p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Small Meetings</h5>
        <p class="card-text">
          Hair like the sea and a smile so warm<br>
Your presence brings joy I rarely felt before<br>
Times are complex and feelings are sometimes fleeting<br>
But all the time I spend with you has been worth every single meeting
          </p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">This One Is About LoL</h5>
        <p class="card-text">
          Your hugs are my warmth in freljord
Your smile illuminates the void
Your words give me pause and with a smerk and a nod
I have the urge to give you the world
          </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Review</h5>
        <p class="card-text">In a world that's new and a life in review <br>
          Everything is different and the future is new<br>
          The one thing I've found as i build everything back<br>
          Is that your presence brings a joy that I'm blessed to have
          </p>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
